@import '../../scss/base/variables';
@import '../../scss/base/mixins';

.legislator-detail {
  @include size(60%, 100%);
  background: $white;
  border-radius: 5px;
  margin-top: 2.5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5%;
  .leg-name-1 {
    @include color($white, #37474F);
    @include font($roboto, 19px, 400);
    @include padding(13px, 22px, 13px, 19px);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    i {
      margin-right: 10px;
    }
    .show-more {
      float: right;
    }

  }
  ul {
    margin-bottom: 23px;
  }
  li {
    @include margin(10px, 15px, null, 15px);
    color: $blue-gray-4;
  }
  label {
    @include margin(5px, null, null, 15px);
    color: $blue-gray-4;
    font-size: 16px;
  }
  h4 {
    @include margin(10px, 15px, null, 15px);
    color: $blue-gray-4;
    font-size: 15px;
  }
  .filters {
    margin-right: auto;
    margin-bottom: 10px;
  }
  .rep {
    background-color: #B71C1C;
  }
  .dem {
    background-color: #0D47A1;
  }
  .apply {
    width: 50px;
    height: 24px;
  }
}
