@import '../../scss/base/variables';
@import '../../scss/base/mixins';

.legislator-detail {
  @include margin(2.5%, null, 2.5%, 2.5%);
  @include size(30%, 100%);
  background: $white;
  border-radius: 5px;
  float: left;
  .leg-name-1 {
    @include color($white, #37474F);
    @include font($roboto, 19px, 300);
    @include padding(13px, 32px, 13px, 19px);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  li {
    @include margin(10px, 15px, null, 15px);
    color: $blue-gray-4
  }
}
