// DESKTOP
@media #{$desktop} {
  .sign-up {
    @include color($white, $blue-2);
    @include font($roboto, 15px, null);
    transition-duration: .25s;
    width: 100%;
    &:hover {
      @include color($white, $blue-1);
    }
  }

  .results {
    background: $white;
    font: $roboto;
    height: 95px;
    .left-section {
      @include padding(17px, null, 15px, null);
      float: left;
      width: 40%;
      .fa-thumbs-up {
        @include margin(null, 5px, null, 15px);
        color: $gray-3;
        font-size: 24px;
        transition: .2s ease-in-out;
        &:hover {
          color: $green;
          transform: scale(1.1);
        }
      }
      .fa-thumbs-down {
        @extend .fa-thumbs-up;
        &:hover {
          color: $red-1;
          transform: scale(1.1);
        }
      }
      .fa-comment {
        @include margin(19px, null, null, 15px);
        color: $gray-3;
        font-size: 15px;
        margin-right: 5px;
      }
    }
  }

  .subscribe {
    @include color($white, $blue-5);
    @include font($roboto, 16px, 300);
    display: block;
    margin: auto;
    transition-duration: .25s;
    width: 36%;
    &:hover {
      @include color($white, $blue-4);
    }
  }
}

// TABLET
@media #{$tablet} {
}

// MOBILE
@media #{$mobile} {
}
