<div class="legislator-results">
  <div>
    <p class="rep-name"><i class="fa fa-heart" aria-hidden="true"></i>About Us</p>
  </div>
  <div class="results">
    <ul style="list-style:none;">
      <li>LegiTrac was created to provide easy access to information on legislation and legislators in the US Congress. It is meant to be a tool for citizens to use to be aware of how their representatives in Congress are voting on issues that concern them. LegiTrac is kept up to date with information provided by <a href="https://www.propublica.org/">ProPublica</a> and <a href="https://sunlightfoundation.com/">The Sunlight Foundation</a>.</li>
    </ul>
  </div>
</div>

<div class="legislator-results">
  <div>
    <p class="rep-name"><i class="fa fa-users" aria-hidden="true"></i>Project Team (in alphabetical order):</p>
  </div>
  <div class="results">
    <ul style="list-style:none;">
      <li><strong>Brad Copenhaver</strong></li>
      <li><strong>Claire Sial</strong></li>
      <li><strong>Kenny Black</strong></li>
      <li><strong>Margie Nevarez</strong></li>
    </ul>
  </div>
</div>
