<h3>LegiTrac</h3>

<p>
  LegiTrac was created to provide easy access to information on legislation and legislators in the US Congress. It is meant to be a tool for citizens to use to be aware of how their representatives in Congress are voting on issues that concern them. LegiTrac is kept up to date with information provided by <a href="https://www.propublica.org/">ProPublica</a> and <a href="https://sunlightfoundation.com/">The Sunlight Foundation</a>.
</p>

<h3>Project team (in alphabetical order):</h3>
<h5>Brad Copenhaver</h5>
<h5>Kenny Black</h5>
<h5>Margie Nevarez</h5>
<h5>Claire Sial</h5>

<h4>APIs used:</h4>
<h5><a href="https://propublica.github.io/congress-api-docs/">ProPublica</a></h5>
<h5><a href="https://sunlightfoundation.com/api/">Sunlight Foundation</a></h5>

<h4>Send questions and comments to _______ </h4>
