<h3>LegiTrac</h3>

<p>
  LegiTrac was created to provide easy access to information on legislation that deals with topics you're concerned about. 
</p>

<h3>Project team:</h3>
<h5>Brad Copenhaver</h5>
<h5>Kenny Black</h5>
<h5>Margie Nevarez</h5>
<h5>Claire Sial</h5>

<h4>APIs used:</h4>
<h5><a href="https://propublica.github.io/congress-api-docs/">ProPublica</a></h5>
<h5><a href="https://sunlightfoundation.com/api/">Sunlight Foundation</a></h5>

<h4>Send questions and comments to _______ </h4>


description of project
contributors
APIs used
contact info
