// COLORS
$red-1 : #EF5350;
$red-2 : #F44336;
$red-3 : #D32F2F;

$blue-1 : #42A5F5;
$blue-2 : #2196F3;
$blue-3 : #1976D2;
$blue-4 : #1565C0;
$blue-5 : #0D47A1;

$light-blue-1 : #0277BD;
$light-blue-2 : #01579B;

$green : #66BB6A;

$gray-1 : #EEEEEE;
$gray-2 : #E0E0E0;
$gray-3 : #9E9E9E;
$gray-4 : #757575;
$gray-5 : #616161;
$gray-6 : #424242;

$blue-gray-1 : #CFD8DC;
$blue-gray-2 : #B0BEC5;
$blue-gray-3 : #546E7A;
$blue-gray-4 : #263238;

$white : #FFFFFF;

// FONTS
$montserrat : 'Montserrat Alternates', sans-serif;
$roboto : 'Roboto', sans-serif;

// MEDIA QUERIES
$desktop : '(min-width:0px)';
