@import '../../scss/base/variables';
@import '../../scss/base/mixins';

.legislator-results {
  @include margin(2.5%, auto, 2.5%, auto);
  @include size(60%, 100%);
  background: $white;
  border-radius: 5px;
  display: block;
  padding-bottom: 10px;
  .rep-name {
    @include color($white, #37474F);
    @include font($roboto, 19px, 400);
    @include padding(13px, 17px, 13px, 19px);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  .view-more {
    float: right;
  }
  i {
    margin-right: 10px;
  }
  li {
    @include margin(10px, 15px, null, 15px);
    color: $blue-gray-4
  }
  .rep {
    background-color: #B71C1C;
  }
  .dem {
    background-color: #0D47A1;
  }
}
