.header {
  background: $white;
  border-bottom: 1px solid $gray-2;
  height: 64px;
  .new-logo {
    width: 40px;
    position: absolute;
    margin-left: 30px;
    margin-top: 12px;
  }
  .logo a {
    @include font($montserrat, 25px, null);
    @include margin(14px, null, null, 80px);
    float: left;
    .blue {
      color: #1755AA;
    }
    .red {
      color: #E31E24;
    }
    &:hover {
      text-decoration: none;
    }
  }

  .glyphicon-search {
    @include margin(24px, 30px, null, null);
    color: $gray-4;
    float: right;
    font-size: 16px;
    transition-duration: .25s;
    &:hover {
      color: $gray-5;
    }
  }
}
