@import '../../scss/base/variables';
@import '../../scss/base/mixins';

.bill-results {
  @include margin(2.5%, auto, 2.5%, auto);
  @include size(60%, 195px);
  background: $white;
  border-radius: 5px;
  display: block;
  .bill-name {
    @include color($white, #37474F);
    @include font($roboto, 19px, 400);
    @include padding(13px, 17px, 13px, 19px);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  .view-more {
    float: right;
  }
  i {
    margin-right: 10px;
  }
  li {
    @include margin(10px, 15px, null, 15px);
    color: $blue-gray-4
  }
}
