@import '../../scss/base/variables';
@import '../../scss/base/mixins';

.search-section {
  @include position(260px, 0, null, 0)
  display: flex;
  margin: auto;
  position: absolute;
  transition-duration: .25s;
  width: 30%;
  .search-button {
    @include color($white, #607D8B);
    margin-left: 7px;
    &:hover {
      @include color($white, #546E7A);
    }
  }
}
