@import '../../scss/base/variables';
@import '../../scss/base/mixins';

.search-section {
  position: absolute;
  top: 270px;
  display: flex;
  width: 30%;
  left: 0;
  right: 0;
  margin: auto;
  .search-bar {
    float: left;
    width: 81%;
  }
  .search-button {
    float: right;
    margin-left: 7px;
    background-color: #607D8B;
    color: $white;
  }
}
