@import '../../scss/base/variables';
@import '../../scss/base/mixins';

@media #{$desktop} {
  .banner {
    float: left;
    position: relative;
    width: 100%;
    .banner-img {
      @include size(100%, 395px)
      object-fit: cover;
    }
    .banner-2 {
      margin-bottom: 2.5%;
    }
    .banner-text-1 {
      @include color($white, $blue-gray-4);
      @include font($roboto, 32px, 400);
      @include padding(25px, 100px, null, 70px);
      @include position(75px, 0, null, 0)
      @include size(650px, 250px);
      margin: auto;
      opacity: 0.9;
      position: absolute;
      text-align: center;
      .second {
        @include padding(500px, null, 500px, null)
      }
    }
    .banner-text-2 {
      @include font($roboto, 22px, 300);
      @include padding(null, 30px, null, 30px);
      @include position(165px, 0, null, 0)
      color: $white;
      margin: auto;
      position: absolute;
      text-align: center;
      width: 600px;
      a {
        color: $gray-3;
      }
    }
    .banner-text-1-2 {
      @include color($white, $blue-gray-4);
      @include font($roboto, 32px, 400);
      @include padding(25px, 100px, null, 70px);
      @include position(75px, 0, null, 0)
      @include size(650px, 250px);
      margin: auto;
      opacity: 0.9;
      position: absolute;
      text-align: center;
      .second {
        @include padding(500px, null, 500px, null)
      }
    }
    .banner-text-2-2 {
      @include font($roboto, 22px, 300);
      @include padding(null, 40px, null, 40px);
      @include position(165px, 0, null, 0)
      color: $white;
      margin: auto;
      position: absolute;
      text-align: center;
      width: 600px;
      a {
        color: $gray-3;
      }
    }
    .search-section {
      @include position(260px, 0, null, 0)
      display: flex;
      margin: auto;
      position: absolute;
      width: 30%;
      .search-button {
        @include color($white, #607D8B);
        margin-left: 7px;
        transition-duration: .25s;
        &:hover {
          @include color($white, $blue-4);
        }
      }
    }
  }

  .bill-welcome {
    @include margin(null, auto, 2.5%, auto);
    @include padding(null, null, 10px, null);
    @include size(60%, 100%);
    background: $white;
    border-radius: 5px;
    clear: both;
    display: block;
    .bill-name-2 {
      @include color($white, #37474F);
      @include font($roboto, 19px, 400);
      @include padding(13px, 17px, 13px, 19px);
      margin-bottom: 12px;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      // &:nth-child(2n) {
      //   @include color($white, #B71C1C);
      // }
    }
    li {
      @include margin(null, 25px, 10px, 15px);
      color: $blue-gray-4;
    }
    i {
      margin-right: 10px;
    }
    .view-more {
      float: right;
    }
  }
}
