<div class="header">
  <div class="logo">
    <img class="new-logo" src="img/logo.png">
    <a href="#"><span class="blue">Legi</span><span class="red">Trac</span></a>
  </div>
  <a href="#"><i class="glyphicon glyphicon-search"></i></a>
</div>

<div class="banner">
  <img class="banner-img" src="img/banner.jpg">
  <p class="banner-text-1">Find Your Representative</p>
  <p class="banner-text-2">Enter your zipcode to learn more about the senators and representatives in your area.</p>
  <div class="search-section">
    <input class="form-control search-bar" #newLocation>
    <button class="btn search-button" (click)="submitForm(newLocation.value)">Search</button>
  </div>
</div>

<div class="banner">
  <img class="banner-img" src="img/banner2.jpg">
  <p class="banner-text-1">Search Congressional Bills</p>
  <p class="banner-text-2-2">Select a committee to learn more about the bills that matter to you.</p>
  <div class="search-section">
    <select class="form-control">
      <option value="" selected="selected">Select...</option>
      <option value="">Committee A</option>
      <option value="">Committee B</option>
      <option value="">Committee C</option>
      <option value="">Committee D</option>
      <option value="">Committee E</option>
      <option value="">Committee F</option>
    </select>
    <button class="btn search-button" (click)="submitForm(newLocation.value)">Search</button>
  </div>
</div>



<!-- <div class="poll-1">
  <p class="poll-1-question">H.R. 586: Sanctity of Human Life Act</p>
  <div class="results">
    <span class="thumbs">To provide that human life shall be deemed to begin with fertilization.</span>
    <p class="name">Jody Hice</p>
  </div>
</div> -->

<div class="footer">
  <div class="logo">
    <a href="#"><span class="blue">Legi</span><span class="red">Trac</span></a>
  </div>
</div>
