<div class="banner">
  <img class="banner-img" src="img/banner.jpg">
  <p class="banner-text-1">Find Your Representative</p>
  <p class="banner-text-2">Enter your zipcode to learn more about the senators and representatives in your area.</p>
  <div class="search-section">
    <input class="form-control search-bar" #newLocation>
    <button class="btn search-button" (click)="submitForm(newLocation.value)">Search</button>
  </div>
</div>

<div class="banner">
  <img class="banner-img" src="img/banner2.jpg">
  <p class="banner-text-1">Search Congressional Bills</p>
  <p class="banner-text-2-2">Select a committee to learn more about the bills that matter to you.</p>
    <app-bill-search-topic></app-bill-search-topic>
</div>



<div class="bill-welcome">
  <p class="bill-name-2">Midnight Rules Relief Act of 2017</p>
  <div class="results">
    <ul style="list-style:none;">
      <li><strong>Number:</strong> H.R. 2393</li>
      <li><strong>Committees:</strong> House Agriculture Committee</li>
      <li><strong>Sponsor:</strong> Darrell Issa</li>
      <li><strong>Most Recent Action:</strong> Received in the Senate and Read twice and referred to the Committee on Homeland Security and Governmental Affairs</li>
    </ul>
  </div>
</div>
<div class="bill-welcome">
  <p class="bill-name-2">Midnight Rules Relief Act of 2017</p>
  <div class="results">
    <ul style="list-style:none;">
      <li><strong>Number:</strong> H.R. 2393</li>
      <li><strong>Committees:</strong> House Agriculture Committee</li>
      <li><strong>Sponsor:</strong> Darrell Issa</li>
      <li><strong>Most Recent Action:</strong> Received in the Senate and Read twice and referred to the Committee on Homeland Security and Governmental Affairs</li>
    </ul>
  </div>
</div>
<div class="bill-welcome">
  <p class="bill-name-2">Midnight Rules Relief Act of 2017</p>
  <div class="results">
    <ul style="list-style:none;">
      <li><strong>Number:</strong> H.R. 2393</li>
      <li><strong>Committees:</strong> House Agriculture Committee</li>
      <li><strong>Sponsor:</strong> Darrell Issa</li>
      <li><strong>Most Recent Action:</strong> Received in the Senate and Read twice and referred to the Committee on Homeland Security and Governmental Affairs</li>
    </ul>
  </div>
</div>
